@page
@model Hallo_Doc.Views.Shared._footerModel
@{

}

<footer class="  text-center bg-dark text-white p-2 w-100 fixed-bottom "
        style="background-color:black">
    <p class="d-flex justify-content-end">Terms of Conditions &nbsp; | &nbsp; Privacy Policy </p>
</footer>
