@page
@model Hallo_Doc.Views.Shared._footermainModel
@{
    }

<footer class="fixed-bottom "
        style="background-color:lightgray">
    <div class="d-flex justify-content-center text-align-center text-dark">Terms of Conditions &nbsp; | &nbsp; Privacy Policy </div>

</footer>

