@page
@model Hallo_Doc.Views.Shared._footermainModel
@{
    }

<<<<<<< HEAD
<footer class="  text-center    fixed-bottom "
        style="background-color:lightgray">
    <p class="d-flex justify-content-center text-dark">Terms of Conditions &nbsp; | &nbsp; Privacy Policy </p>
=======
<footer class="fixed-bottom "
        style="background-color:lightgray">
    <div class="d-flex justify-content-center text-align-center text-dark">Terms of Conditions &nbsp; | &nbsp; Privacy Policy </div>
>>>>>>> created 3 tier architecture
</footer>

