<button  onclick=myFunction() id="dark-icon" class="btn btn-outline-info position-absolute  end-0 ">
    <i class="fa fa-moon-o" aria-hidden="true"></i>
</button>
<div class="d-flex justify-content-center align-items-center mt-4  ">
    <img class=" mt-5 mb-5" src="~/images/hallodoc.png" alt="hallodoc" />
    
    
</div>  