@page
@model Hallo_Doc.Views.Shared._headerModel
<div class="container-fluid">
    <nav class="navbar navbar-light shadow fixed-top">



        <a class="navbar-brand" href="#">
            <img class="patient-img" src="~/images/hallodoc.png" alt="patient-site">
        </a>


        <button onclick=myFunction() id="dark-icon" alt=""
                class="btn navbar-right btn-outline-info navbar-btn btn-sm">
            <i class="fa fa-moon-o"
               aria-hidden="true"></i>
        </button>

    </nav>
</div>